.HistoryTable {
  width: 100%;
}

.HistoryTable th {
  font-weight: 500;
  border-bottom: 2px solid var(--deep-brown);
  font-size: 1.1rem;
  padding: 1rem;
}

.HistoryTable tr {
  border-bottom: 1px solid var(--normal-gray);
}

.HistoryTable tbody > tr:hover {
  background-color: var(--very-light-gray);
}

.HistoryTable tbody > tr:hover > td:not(:first-of-type) {
  border-left: 1px solid white;
}

.HistoryTable td,
.HistoryTable th {
  text-align: center;
}

.HistoryTable td:not(:first-of-type) {
  border-left: 1px solid var(--very-light-gray);
}

.HistoryTable td {
  padding: 5px 10px;
}
