.card {
  display: grid;
  width: 100%;
  padding: 1.6rem 1.6rem 3rem 1.6rem;
  grid-template-columns: 1fr;
  min-height: 200px;
  gap: 5px;
  border: 1px solid #dedddc;
  background-color: var(--transparent-brown);
  border-radius: 12px;
  margin-bottom: 3rem;
  box-shadow: 0px 2px 12px -6px var(--normal-gray);
  line-height: 1.5;
}

.card > div:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 10rem;
}

.title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 6px;
  margin-bottom: 6px;
}

.top {
  display: grid;
  grid-template-columns: 7rem 1fr;
  height: 40px;
  width: 100%;
  position: relative;
  width: calc(100% + 3.2rem + 2px);
  left: calc(-1.6rem - 1px);
  top: calc(-1.6rem - 1px);
}

.top span {
  padding: 0px 20px;
  cursor: default;
  align-items: center;
}

.top span:not(:last-of-type) {
  font-weight: bold;
  border-top-left-radius: 12px;
  color: white;
  padding: 7px 1.5rem 5px 1.5rem;
  border: 1px solid #0003;
}

.top span.hospital {
  background-color: cornflowerblue;
}

.top span.home {
  background-color: teal;
}

.top span:last-of-type {
  display: flex;
  border-top-right-radius: 12px;
  color: var(--deep-brown);
  border: 1px solid #dedddc;
  background: var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  gap: 6px;
}

.title label {
  font-size: 1.5rem;
  width: 100%;
  max-width: 30vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.userInfo_wrapper {
  display: grid;
  gap: 8px;
  padding: 0 1rem;
}

.userInfo {
  display: grid;
  grid-template-columns: 6.5rem 1fr;
}

.userInfo span > span {
  display: inline-block;
}

.search_button_wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.card button {
  height: fit-content;
  padding: 5px;
  width: 100%;
}

.card button:nth-of-type(2) {
  background-color: var(--deep-brown);
}

.expired {
  color: var(--normal-gray);
  filter: grayscale(0.3);
}

.expired .top span:not(:last-of-type) {
  background-color: #ddd;
  border: 1px solid #ccc;
}

.expired button {
  background-color: var(--normal-gray) !important;
  pointer-events: none;
}

.expired .dday {
  color: red;
}
