.wrapper {
    margin: 0 auto;
    width: 80%;
    background-color: var(--brown-01);
}

.wrapper a {
    cursor: pointer;
}

.wrapper .currentLoc {
    color: var(--deep-brown);
    cursor: default;
}
