.addPatient form {
  max-width: 1360px;
  margin: 0 auto;
}

.addPatient hr {
  margin: 3rem 0;
}

.info_grid {
  display: grid;
  column-gap: 8rem;
  grid-template-columns: 1fr 1fr;
}

div.info_grid:first-of-type div:first-of-type > div:nth-of-type(2) > div {
  display: flex;
  gap: 2rem;
}

.info_grid.detail {
  column-gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
}

.info_grid > div {
  display: grid;
}

.info_grid.detail > div > div {
  border-bottom: 1px solid var(--light-gray);
  padding-bottom: 1rem;
}

.radio_wrapper {
  cursor: pointer;
  line-height: 1.4;
  display: flex;
  gap: 8px;
}

.detail > div > div > div {
  display: grid;
  row-gap: 12px;
}

@media (max-width: 1200px) {
  .info_grid,
  .info_grid.detail {
    grid-template-columns: 1fr;
  }
}
