.LoginForm {
  width: 100%;
}

.LoginForm form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.loginBox {
  position: relative;
  width: 400px;
  height: calc(100vh - 27rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginBox input {
  width: 100%;
  border-radius: 0;
  font-size: 1rem;
}

.loginBox .loginMsg {
  font-size: 2rem;
  color: var(--warning);
}

.LoginForm .button {
  padding: 1rem;
  background: var(--brown-01);
  margin-top: 1rem;
}

.loginBox .button:first-of-type {
  background: var(--deep-brown);
  position: relative;
  top: 1.5rem;
}

.loginBox .button:hover {
  background: var(--deep-brown);
}
