.SearchForm > form {
  padding: 2rem 2.4rem;
  background-color: var(--light-gray);
  margin-bottom: 6rem;
}

.patient_selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.patient_selector span {
  position: relative;
  top: -0.5rem;
  font-size: 0.9rem;
}

.checkbox_list_wrapper {
  display: flex;
  column-gap: 5%;
  flex-wrap: wrap;
}

.button_wrapper {
  text-align: right;
}

.button_wrapper button {
  padding: 8px 4rem;
}
