.card {
  display: grid;
  width: 100%;
  padding: 1.6rem;
  grid-template-columns: 200px 40% 1fr 160px;
  min-height: 200px;
  grid-column-gap: 8px;
  border-bottom: 1px solid white;
  background-color: var(--very-light-gray);
  align-items: center;
}

.card img {
  width: 80%;
}

.card button {
  height: fit-content;
  margin: auto;
}

.userName label {
  font-size: 1.5rem;
  margin-right: 6px;
}

.userName p:last-of-type {
  line-height: 1.25;
  font-size: 0.9rem;
  color: var(--deep-brown);
  margin-top: 4px;
  width: 90%;
}

.userInfo_wrapper {
  display: grid;
  gap: 5px;
}

.userInfo {
  display: grid;
  grid-template-columns: 8rem 1fr;
}
