.MyPageForm {
}

.MyPageForm input {
  border-radius: 0;
}

.MyPageForm .input_phone {
  display: flex;
  align-items: baseline;
}

.MyPageForm .input_phone input {
  width: 30%;
}

.MyPageForm .change_button {
  font-weight: 400;
  background-color: var(--beige-01);
  color: var(--deep-brown);
  padding: 0.8rem;
}
