.Dropdown {
  position: absolute;
  background-color: #fffc;
  border: 1px solid var(--deep-brown);
  line-height: 2rem;
  font-size: 1rem;
  box-shadow: 0px 10px 15px -10px #cccc;
  text-align: center;
  left: 100%;
}

.Dropdown a {
  color: var(--brown-01);
}

.Dropdown a:hover {
  color: var(--deep-brown);
}

.Dropdown ul {
  padding: 0;
  margin: 1rem 0;
}

.Dropdown li {
  padding: 5px 2rem !important;
}

.Dropdown li:hover {
  background-color: var(--beige-01);
}
