.HeaderCore {
  display: flex;
  height: 70px;
  padding: 1rem 2.5rem;
  box-shadow: 0px 0px 20px #aaaa;
  background: var(--deep-brown);
  align-items: center;
  z-index: 9998;
  justify-content: space-between;
}

.menu_wrapper {
  display: flex;
  gap: 2rem;
}

.button_wrapper {
  position: relative;
}

.HeaderCore button {
  background: transparent;
  padding: 0;
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--beige-01);
  font-weight: 400;
}

.HeaderCore button.active {
  color: white;
  font-weight: 600;
}

.HeaderCore button:hover {
  filter: brightness(0.9) saturate(1.5);
}

.HeaderCore .logo img {
  width: 120px;
  position: relative;
  top: 2px;
}

.HeaderCore .logo {
  width: fit-content;
}
