.contact {
  padding: 80px 0;
  background-color: #423730;
  color: #ffffff;
}

.row {
  max-width: 1020px;
  margin: 0 auto;
}

.section_head {
  text-align: center;
  margin-bottom: 40px;
}

.column {
  width: 50%;
}
.column p {
  font-size: 18px;
  font-weight: 100;
  padding-right: 3%;
}

.formGroup {
  display: flex;
  margin-bottom: 20px;
  padding: 0 30px;
}
.formGroup:last-child {
  justify-content: flex-end;
}

.formGroup label {
  font-size: 18px;
  display: block;
  margin-bottom: 8px;
  flex: 1;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #373233;
  flex: 3;
}

.submit {
  background-color: #0d0d0d;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 3px;
}

.submit:hover {
  background-color: #ffffff;
  color: #0d0d0d;
}

@media screen and (max-width: 767px) {
  .column {
    width: 100%;
  }
  .formGroup {
    flex-direction: column;
  }
  .formGroup:last-child {
    align-items: flex-start;
  }
}
