.PendingReservationCard .reservation_info {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
}

.PendingReservationCard .reservation_info > div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--very-light-gray);
}

.info_section h5 {
  border-left: 4px solid var(--brown-01);
  padding-left: 1rem;
  padding-bottom: 4px;
}

span.location {
  color: white;
  border-radius: 10px;
  padding: 2px 10px 3px 10px;
  font-weight: bold;
  margin-right: 5px;
}

span.hospital {
  background-color: cornflowerblue;
}

span.home {
  background-color: teal;
}

.info_wrapper {
  display: grid;
  grid-template-columns: 6rem 1fr;
  margin-bottom: 4px;
}

.search_button_wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 1rem;
}

.PendingReservationCard button {
  height: fit-content;
  padding: 5px;
  width: 100%;
  max-width: 16rem;
  margin: 0 auto;
}
