.Main {
  display: grid;
  max-width: 1200px;
  gap: 7rem 2rem;
  margin: 0 auto;
  padding: 2rem;
}

.Family,
.Mate {
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.MainCard {
  cursor: pointer;
  position: relative;
  font-size: 1.8rem;
  min-width: 100px;
  height: 20rem;
  padding: 2rem;
  background-size: cover;
  background: #dfd7bf50;
  box-shadow: 0px 0px 10px -6px #aaaa;
  background-size: cover;
}

.MainCard:hover {
  box-shadow: 0px 3px 12px -4px #aaaa;
  scale: 1.01;
}

.title_description_wrapper {
  position: absolute;
  top: 335px;
  right: 10px;
  text-align: right;
}

.MainCard span {
  font-size: 1rem;
  color: var(--brown-01);
  line-height: 1;
}

.MainCard:hover p,
.MainCard:hover span {
  font-weight: 500;
}

.Family .MainCard:nth-child(1) {
  background-image: url('../assets/main1.jpg');
}
.Family .MainCard:nth-child(2) {
  background-image: url('../assets/main2.jpg');
}
.Family .MainCard:nth-child(3) {
  background-image: url('../assets/main3.jpg');
}
.Family .MainCard:nth-child(4),
.Mate .MainCard:nth-child(1) {
  background-image: url('../assets/main4.jpg');
}
.Family .MainCard:nth-child(5),
.Mate .MainCard:nth-child(2) {
  background-image: url('../assets/main5.jpg');
}
.Family .MainCard:nth-child(6),
.Mate .MainCard:nth-child(3) {
  background-image: url('../assets/main6.jpg');
}

.Mate .MainCard:nth-child(1) {
  grid-column: 1 / 3;
}

@media (min-width: 900px) {
  .Main {
    margin-bottom: 4rem;
  }
}

@media (max-width: 900px) {
  .Main {
    display: grid;
    gap: 2.5rem;
  }

  .Family,
  .Mate {
    grid-template-columns: 1fr;
  }

  .MainCard {
    height: 16rem;
    border-radius: 10px;
  }

  .Mate .MainCard:nth-child(1) {
    grid-column: 1 / 1;
  }

  .title_description_wrapper {
    top: 190px;
    color: white;
  }

  .title_description_wrapper span {
    color: white;
  }

  .Family .MainCard {
    border-radius: 10px;
  }

  .Family .MainCard:nth-child(1) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 200%),
      url('../assets/main1.jpg');
  }
  .Family .MainCard:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 200%),
      url('../assets/main2.jpg');
  }
  .Family .MainCard:nth-child(3) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 200%),
      url('../assets/main3.jpg');
  }
  .Family .MainCard:nth-child(4),
  .Mate .MainCard:nth-child(1) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 200%),
      url('../assets/main4.jpg');
  }
  .Family .MainCard:nth-child(5),
  .Mate .MainCard:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 200%),
      url('../assets/main5.jpg');
  }

  .Family .MainCard:last-child,
  .Mate .MainCard:nth-child(3) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 200%),
      url('../assets/main6.jpg');
  }
}
