.Modal .modal_wrapper {
  max-width: 100%;
  padding: 0;
  overflow: hidden;
}

.map_wrap,
.map_wrap * {
  margin: 0;
  padding: 0;
}
.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
  color: #000;
  text-decoration: none;
}
.map_wrap {
  position: relative;
  height: 80vh;
}
.menu_wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 30px 1rem;
  overflow-y: auto;
  z-index: 1;
  font-size: 12px;
  width: 40%;
  min-width: 16rem;
  max-width: 24rem;
}
.bg_white {
  background: rgba(255, 255, 255, 0.8);
}
.menu_wrap hr {
  margin: 8px 0 !important;
}
.menu_wrap .option {
  text-align: center;
}
.menu_wrap .option p {
  margin: 10px 0;
}
.menu_wrap .option button {
  margin-left: 5px;
  padding: 4px 1rem;
  font-weight: 400;
}
.menu_wrap .option input {
  width: calc(100% - 4rem - 3px);
}
.menu_wrap li {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 50px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--light-gray);
  align-items: center;
}
.menu_wrap li > button {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: var(--deep-brown);
  font-weight: 400;
  font-size: 0.8rem;
}
.info {
  line-height: 1.8;
  cursor: pointer;
  margin-left: 4rem;
}
.pagination {
  margin: 10px auto;
  text-align: center;
}
.pagination a {
  display: inline-block;
  padding: 0 5px;
  margin: 0 2px;
}
.pagination .on {
  font-weight: bold;
  cursor: default;
  color: var(--brown-01);
  border-bottom: 4px solid var(--brown-01);
}

.markerbg {
  float: left;
  position: absolute;
  width: 36px;
  height: 37px;
  margin-left: 10px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}
.marker_1 {
  background-position: 0 -10px;
}
.marker_2 {
  background-position: 0 -56px;
}
.marker_3 {
  background-position: 0 -102px;
}
.marker_4 {
  background-position: 0 -148px;
}
.marker_5 {
  background-position: 0 -194px;
}
.marker_6 {
  background-position: 0 -240px;
}
.marker_7 {
  background-position: 0 -286px;
}
.marker_8 {
  background-position: 0 -332px;
}
.marker_9 {
  background-position: 0 -378px;
}
.marker_10 {
  background-position: 0 -423px;
}
.marker_11 {
  background-position: 0 -470px;
}
.marker_12 {
  background-position: 0 -516px;
}
.marker_13 {
  background-position: 0 -562px;
}
.marker_14 {
  background-position: 0 -608px;
}
.marker_15 {
  background-position: 0 -654px;
}
.info_window {
  z-index: 1;
}
.info_window_content {
  padding: 5px;
  z-index: 1;
  text-align: center;
  white-space: nowrap;
}
