.ManageTable,
.ManageTable > table {
  width: 100%;
}

.ManageTable > table th {
  font-weight: 500;
  border-bottom: 2px solid var(--deep-brown);
  font-size: 1.1rem;
  padding: 1rem;
}

.ManageTable > table tr {
  border-bottom: 1px solid var(--normal-gray);
}

.ManageTable > table tbody > tr:hover {
  background-color: var(--very-light-gray);
}

.ManageTable > table tbody > tr:hover > td:not(:first-of-type) {
  border-left: 1px solid white;
}

.ManageTable > table td,
.ManageTable > table th {
  text-align: center;
}

.ManageTable > table td:not(:first-of-type) {
  border-left: 1px solid var(--very-light-gray);
}

.ManageTable > table td {
  padding: 5px 10px;
}

.ManageTable > table td > button {
  padding: 0.6rem 0;
  width: 100%;
  font-weight: 400;
  background-color: var(--light-gray);
  color: var(--deep-brown);
}

.ManageTable > table td > button:hover {
  filter: brightness(0.95);
}
