.LoginForm.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 360px);
}

.LoginForm form {
  display: flex;
  flex-direction: column;
}

.loginBox {
  position: relative;
  width: 400px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginBox h1 {
  text-align: center;
  font-size: 24px;
  font-family: 'Noto Snas KR', sans-serif;
  padding: 10px 0;
}

.loginBox .userBox {
  position: relative;
}

.loginBox .userBox input {
  width: 100%;
  border-radius: 0;
}

.loginBox .button_1 {
  background: #4f4242;
  padding: 7px 20px;
}

.loginBox .button_2 {
  background: #a4907c;
  padding: 7px 20px;
}

.loginBox .button_1:hover,
.loginBox .button_2:hover {
  background: var(--deep-brown);
}
