.RecruitmentForm form > div:first-child {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.RecruitmentForm hr {
  margin: 2rem auto;
}

.RecruitmentForm input[type='checkbox'] {
  cursor: pointer;
}

.RecruitmentForm div > div > div > p {
  display: inline-block;
}

.grid_wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
}

div.grid_wrapper > div:first-child {
  border-right: 1px solid var(--light-gray);
  padding-right: 3rem;
}

.weekdays {
  display: flex;
  gap: 1rem;
}

.checkbox_wrapper {
  cursor: pointer;
}

.address_section {
  display: grid;
  grid-template-columns: 8rem 1fr;
  align-items: center;
  column-gap: 1rem;
}

.address_section > span {
  font-weight: 500;
  color: var(--deep-brown);
}

.address_section select:first-of-type {
  width: fit-content;
}

div.address_section div > button {
  background: var(--beige-01);
  font-weight: 400;
  color: var(--deep-brown);
}

.patient_info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100% - 2rem);
  padding: 1rem 0;
}

@media (max-width: 1200px) {
  .grid_wrapper {
    grid-template-columns: 1fr;
  }
  div.grid_wrapper > div:first-child {
    border-right: none;
    padding-right: 0;
    border-bottom: 1px solid var(--light-gray);
  }
}
